body {
  background: lighten($black, 10%);
}

.comment-pfp {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.logo-container {
  width: 64px;
  height: 64px;
  .logo {
    width: 64px;
    height: 64px;
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}